[submodule "submodules/emsdk"]
	path = submodules/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/opencv/opencv
[submodule "submodules/opencv_contrib"]
	path = submodules/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "submodules/webpiled-aruco-ar"]
	path = submodules/webpiled-aruco-ar
	url = https://github.com/syntheticmagus/webpiled-aruco-ar
